<!doctype html>
<html>
<head>
    <title>Vplorer</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <h1>Vplorer</h1>

    <div id="app">
       
    </div>
    

    <script src="/js/client.js"></script>
</body>
